.paymentprovider-title {
    margin-top: 5%;
    text-align: center;
    color: white;
    font-size: 5em;
}

h2 {
    margin-top: 1em;
    text-align: center;
    color: white;
    font-size: 3em;
}
